.formGroup {
    margin-bottom: 1rem;
}

input {
    width: 90%;
    border-radius: 8px;
    outline: 0;
    margin-bottom: 5px;
    border: 1px solid gray; 
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

.container {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-content: center;
    margin: 8px;
}

@media (max-width:600px) {
    .container {
        width: 90%;
    }
}